/* Green card header */
.card-header {
    background-color:#00B4A4 ;
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* hover effect on the header */
/* .card-header:hover {
    background-color: white;
} */

/* Sign in text and the line beneath it */
.card-header__signIn {
    letter-spacing: 1px;
    font-weight: 100;
    border-bottom: 2px solid whitesmoke;
}

/* icon list at the right */
.card-header__icon {
    margin-left: 3px;
    color: #e0fff2;
    opacity: 0.7;
    font-size: 17px;
    transition: all 0.2s;
}

/* Editing the child signIn of 
parent card header at state hover */
/* .card-header:hover .card-header__signIn {
    color: #00B4A4;
    border-bottom: 2px solid #00B4A4;
} */
/* Editing children icons of parent header
at state hover */
.card-header:hover .card-header__icon {
    color: #00B4A4;
}

/* editing hover effect on FACEBOOK, Google +, Twitter icons individually WHEN state hover is already active on header */
.card-header:hover .card-header__iconContainer .card-header__icon--1:hover {
    color: blue;
}

.card-header:hover .card-header__iconContainer .card-header__icon--2:hover {
    color: #EA4335;
}

.card-header:hover .card-header__iconContainer .card-header__icon--3:hover {
    color: #1DA1F2;
}

/* customizing the button. Focus state removes the highlight option after the click */
.btnLogIn, .btnLogIn:focus {
    padding: 0.2rem 1.4rem;
    position: relative;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    background-color: #00B4A4;
    margin: 0 auto;
    display: block;
    border: 2px solid #00B4A4;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
}

/* hover effect of the button */
.btnLogIn:hover {
    color:  #00B4A4;
    background-color:white;
    border: 2px solid #00B4A4;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);;
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    transform: translateY(-2px);
    transition: all 0.2s;
}

/* when user clicks on the button */
.btnLogIn:active {
    transform: translateY(2px);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
/* editing the footer */
.footerEdited {
    background-color: #00B4A4;
    transition: all 0.2s;
}

/* adding hover effect on footer */
/* .footerEdited:hover {
    background-color: white;
} */


/* UTILITY CLASSES */
.u-pos-rel {
    position: relative;
}

.u-border-radius-med {
    border-radius: 20px;
}

/* applied on header and footer to take parents shape */
.u-overfl-hidden {
    overflow: hidden;
}

.u-remove-border {
    border: none
}